body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f0f0f0, #c8d6e5);
    margin: 0;
}
h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}
.suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}
.circle:hover {
    transform: scale(1.2);
}
.Player {
    background-color: #1a5276; /* Azul escuro */
    color: #ffffff; /* Branco */
}
.Banker {
    background-color: #922b21; /* Vermelho escuro */
    color: #ffffff; /* Branco */
}
.Tie {
    background-color: #d4ac0d; /* Amarelo escuro */
    color: #000000; /* Preto */
}
table {
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s ease-in-out;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}
th {
    background-color: #2980b9;
    color: white;
}
td.correct {
    background-color: #27ae60 !important;
    color: white;
}
.stats {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
